<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4 font-semibold leading-6 text-brand">
      Fêtons LiveView 1.0 !
    </div>
    <nav class="flex-grow flex gap-4 px-5">
      <a href={~p"/scrabble"}>🔮</a>
      <a href={~p"/fuzzy-scrabble"}>🐦‍🔥</a>
      <a href={~p"/admin"}>🤖</a>
    </nav>
    <div class="flex items-center gap-4">
      <p class="px-2 font-medium leading-6 text-zinc-400">
        Elixir Meetup Lyon - Jeudi 16 Janvier 2025
      </p>
    </div>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-5xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
